
.right-nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    border-left: 1px solid rgba(237, 239, 241, 1);
    width: 4rem;
    height:70rem;
    padding:1rem;

    &__item{
        padding-bottom: 2rem;
        width: 1.5rem;
        cursor: pointer;

        &--last{
            border-bottom: 1px solid rgba(237, 239, 241, 1);
            margin-bottom:2rem;
        }
    }

    &__item-icon{
        width: 1.5rem;
        height:1.5rem
    }

}