.mainCards {
    display: flex;
    flex-direction: column;
    margin:0 3rem;


    &__card{
        border: 2px solid rgba(218, 220, 224, 1);
        border-radius: 0.5rem;
        height: 18rem;
        width: 100%;
        margin-bottom:5rem;
    }
}