.top-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0.5rem 2rem 1rem;
    border-bottom:1px solid rgba(237, 239, 241, 1);

    &__left{
        display: flex;
    }

    &__logo{
        margin-right: 1rem;
        height:2rem
    }

    &__page-name{
        color: rgba(96, 99, 103, 1);
    }
    
    &__right{
        display: flex;
        align-items: center;
    }

    &__icon {
        margin-right:2rem;
        height:2rem
    }

    &__avatar{
        height:2.5rem
    }
}