.mainBottom{
    display: flex;
    flex-direction: column;
    gap:2rem;

    &__container{
        display: flex;
        gap:2rem;
    }

    &__card {
        border: 2px solid rgba(218, 220, 224, 1);
        width: 48%;
        height: 18rem;
        border-radius: 0.5rem;
    }
}
